[Unit]
Description=Mount oraclenfs NFS volume to /oraclenfs

[Mount]
What=nfs:/oraclenfs
Where=/oraclenfs
Type=nfs
Options=rw,bg,hard,nointr,rsize=32768,wsize=32768,tcp,actimeo=0,vers=3,timeo=600
