[Unit]
Description=Start DHCP client for {{ item.1.internal_network_name }}
ConditionPathExists=/sys/class/net/{{ item.1.internal_network_name }}

[Service]
ExecStart=/usr/sbin/dhclient -d -H {{ item.1.dhcp_hostname }} -pf {{ item.1.dhclient_pid }} {{ item.1.internal_network_name }}
ExecStop=/usr/sbin/dhclient -x {{ item.1.internal_network_name }}

[Install]
WantedBy=multi-user.target
